/*
Theme 
Background: #e5e5e5
Container: #ffffff

Primary: #1565c0
Light: #5e92f3
Dark: #003c8f
Text: #ffffff

Secondary:#f98b00
Light:#ffbc45
Dark: #c05d00
Text: #000000

Single Depth: box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
*/

/* Globals */

body {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #e5e5e5;
}

h1 {
    font-size: 50px;
    color: white;
}

h2 {
    font-size: 50px;
}

a {
    text-decoration: none;
    color: #5e92f3;
}

a:visited {
    text-decoration: none;
    color: #5e92f3;
}

li {
    font-size: 20px;
}

/* Scrollbar Styling */

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #f98b00;
}

/* Color Classes */

.primary{
    background-color:#1565c0;
    color: #ffffff;
}

.primary-light{
    background-color: #5e92f3;
    color: #ffffff;
}

.primary-dark{
    background-color:#003c8f;
    color: #ffffff;
}

.secondary{
    background-color: #f98b00;
    color: #000000;
}

.secondary-light{
    background-color: #ffbc45;
    color: #000000;
}

.secondary-dark{
    background-color: #c05d00;
    color: #000000;
}

/* Separators */

.sm-separate{
    width: 100%;
    height: 10px;
    position: relative;
}

.md-separate{
    width: 100%;
    height: 20px;
    position: relative;
}

.lg-separate{
    width: 100%;
    height: 40px;
    position: relative;
}

/* Depth */

.shallow {
    box-shadow: 0px 5px 10px -5px rgba(0,0,0,0.75);
}

/* Center */

.center {
    text-align: center;
}

/* Header */

.header-image{
    width: 100%;
    height: 80vh;
    background-image: url(../images/wirligigs_cropped.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.menu-bar{
    background-color: #1565c0; 
    background-blend-mode: difference;
    height: 80px;
    /* border-bottom: rgba(128, 128, 128, 0.473) 1px solid;*/
    padding: 0 150px 0 150px; 
}

.menu-icon{
    height: 75px;
    width: 75px;
    background-image: url(../images/logo.png);
    float: left;
    border-radius: 100%;
    border: rgba(169, 169, 169, 0.432) 2px outset;
}

.menu-item {
    height: 80px;
    float: right;
    text-align: center;
    margin: 0 10px;
    line-height: 80px;
    font-size: xx-large;
    color: white;
    font-weight: bold;
}

/* Dropdown Menu */

.dropdown_button {
    color: white;
    text-decoration: none;
}

.dropdown_button:visited {
    text-decoration: none;
    color: white;
}

.dropdown_items {
    display: none;
    background-color: white;
    -webkit-box-shadow: 0px 10px 13px 1px rgba(0,0,0,0.6); 
    box-shadow: 0px 10px 13px 1px rgba(0,0,0,0.6);
    border-width: 0 1px 1px 1px;
    border-color: rgba(128, 128, 128, 0.473);
    border-style: solid;
    text-align: center;
    position: absolute;
    width: 250px;
    z-index: 1;
}

.dropdown_item {
    color: white;
    font-size: large;
    text-decoration: none;
    height: 50px;
    margin: 0;
    line-height: 50px;
}

.dropdown_item a {
    color: #5e92f3;
}

.show {
    display: block;
}

/* Body */

.header-image-overlay {
    height: 900px;
    text-align: center;
    margin-top: 50px;
}

#name-logo {
    width: 50%;
}

.subtext-container {
    width: 50%;
    align-content: center;
}

.logo-subtext {
    position: absolute;
    color: transparent;
    width: 30%;
    font-size: 5vw;
    margin: 0;
}


.about {
    padding: 50px 0;
    height: auto;

}

.about-container {
    height: auto;
    width: 70%;
    margin-left: 15%;
    background-color: #ffffff;
    text-align: center;
    /* box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75); */
}

.headshot-image {
    height: 300px;
    /* width: 300px; */
    border-radius: 100%;
}

.bio-text-container {
    width: 60%;
    padding-left: 20%;
}

.about-section {
    width: 100%;
    padding-top: 10px;
    text-align: center;
    overflow: auto;
}

.icon-content {
    height: 100px;
    width: 90%;
    margin: 40px 5%;
}

.my-photo {
    height: 300px;
    border-radius: 50px;
}

.content-section {
    padding-left: 10%;
    padding-bottom: 10px;
    width: 80%;
    text-align: left;
    height: auto;
    box-sizing: border-box;
}

.content-section-index {
    padding-left: 10%;
    width: 80%;
    text-align: left;
    height: auto;
    margin: 50px;
    box-sizing: border-box;
}

.v-center {
    padding-top: 10%;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.left-margin {
    margin-left: 50px;
}

.right-margin {
    margin-right: 50px;
}

.small-icon {
    width: 100px;
}

.bio-text {
    font-size: 20px;
    line-height: 35px;
    color: rgb(92, 88, 88);
}

#disclaimer {
    font-size: 15px;
    line-height: 20px;
}

.footer {
    background-color: #5e92f3;
    float: left;
    width: 100%;
    color: white;
}

.footer-content {
    width: 60%;
    margin-left: 20%;
    padding: 1% 0;
    text-align: center;
}

.link-list {
    padding: 0;
}

.link-list li {
    display: inline;
    margin: 0 20px;
    font-size: xx-large;
    text-align: center;
    color: white;
}

.link-list li a {
    color: white;
}

/* Animations */
@keyframes TEXT-SLIDE-IN {
    0% {
        left: 20%;
        color: transparent;
    }

    10%{
        color: transparent;
        left: 30%;
    }

    20%{
        left: 35%;
        color: rgb(255, 255, 255);
    }

    33% {
        left: 35%;
        color: rgb(255, 255, 255)
    }

    50% {
        color: transparent;
    }

    75% {
        color: transparent;
    }

    100% {
        color: transparent;
    }
}

#creator {
    animation-name: TEXT-SLIDE-IN;
    animation-duration: 30s; /* or: Xms */
    animation-iteration-count: infinite;
    animation-direction: normal; /* or: normal */
    animation-timing-function: ease-out; /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
    animation-fill-mode: forwards; /* or: backwards, both, none */
    animation-delay: 0s; /* or: Xms */
}

#developer {
    animation-name: TEXT-SLIDE-IN;
    animation-duration: 30s; /* or: Xms */
    animation-iteration-count: infinite;
    animation-direction: normal; /* or: normal */
    animation-timing-function: ease-out; /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
    animation-fill-mode: forwards; /* or: backwards, both, none */
    animation-delay: 10s; /* or: Xms */
}

#engineer {
    animation-name: TEXT-SLIDE-IN;
    animation-duration: 30s; /* or: Xms */
    animation-iteration-count: infinite;
    animation-direction: normal; /* or: normal */
    animation-timing-function: ease-out; /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
    animation-fill-mode: forwards; /* or: backwards, both, none */
    animation-delay: 20s; /* or: Xms */
}


@media only screen and (min-width: 801px) {
    .index p {
        width: 60%;
        padding-left: 20%;
        text-align: center;
        font-size: 20px;
    }
    
    .home-button{
        display: none;
    }
}


/* Responsiveness */

@media only screen and (max-width: 800px) {

    .header-image{
        width: 100%;
        height: 50vh;
        border-bottom: rgb(255, 255, 255) 1px solid;
    }

    .menu-icon {
        display: none;
    }

    .menu-bar {
        padding: 0;
        display: inline-block;
        width: 100vw;
        height: 50px;
        background-color: #1565c0;
    }

    .menu-item {
        height: 50px;
        width: 33.33vw;
        margin: 0;
        box-sizing: border-box;
        text-align: center;
        line-height: 50px;
        font-size: large;
    }

    .dropdown_items {
        position: absolute;
        width: 100%;
        left: 0;
        background-color: #5e92f3;
    }

    .dropdown_items a {
        color: white;
    }

    .bio-text-container {
        width: 100%;
        padding: 0;
    }

    .about-container {
        height: auto;
        width: 100%;
        background-color: white;
        text-align: center;
        padding: 0;
        margin: 0;
        box-shadow: none;
    }

    .content-section-index {
        padding: 0;
        width: 100%;
        text-align: center;
        height: auto;
        margin: 100px 0 350px 0;
        box-sizing: border-box;
    }

    .my-photo {
        margin: 0;
        float: none;
    }

    .link-list {
        padding: 0;
    }

    .link-list li {
        margin: 10px;
        display: inline;
        list-style-type: none;
    }

    .index {
        width: 100% !important;
        padding: 0% !important;
        margin: 0% !important;
    }

    table{
        display: none;
    }

    ul{
        padding: 0;
    }

    li {
        padding: 0;
        margin: 10px 0;
        font-size: 12px;
    }

    h2 {
        font-size: 30px;
        text-align: center;
        margin: 0;
        padding: 10px 0;
    }

    .content-section {
        width: 100%;
        margin: 0;
        padding: 10px;
    }

    .index p {
        font-size: 15px;
        width: 90%;
        margin: 10px 0 10px 5%;
        text-align: center;
    }

    .dropdown-text{
        margin: 10px 0;
    }

    .home-button{
        opacity: 75%;
        background-color: #ffbc45;  
        color: white;
        height: 50px;
        width: 50px;
        border-radius: 100%;
        position: fixed;
        bottom: 10px;
        left: calc(100% - 60px);
        text-align: center;
        font-size: 25px;
        line-height: 50px;
    }
}

.index {
    height: auto;
    width: 70%;
    margin: 50px 0 50px 15%;
    padding: 10px 0 0 0;
    background-color: #ffffff;
    font-size: 24px;
}

.index table {
    width: 80%;
    margin-left: 10%;
}

.page-content {
    width: 80%;
    margin-left: 10%;
    font-size: 18px;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #003c8f;
    color: #ffffff;
    cursor: pointer;
    padding: 18px;
    width: 80%;
    margin-left: 10%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.collapsible-second-level{
    background-color: #c05d00;
    color: #ffffff;
    cursor: pointer;
    padding: 18px;
    width: 80%;
    margin-left: 10%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}
  
.active, .collapsible-second-level:hover {
    background-color: #ffbc45;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
    background-color: #5e92f3;
}
  
/* Style the collapsible content. Note: hidden by default */
.content {
    display: none;
    overflow: hidden;
    width: 80%;
    margin-left: 10%;
    background-color: #f1f1f1;
}

iframe {
    width: 800px;
    height: 450px;
}

.project_image {
    width: 100%;
    margin: 5px 0;
}

