/* Globals */

body {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #0a2458;
}

h1 {
    font-size: 50px;
    color: white;
}

h2 {
    font-size: 50px;
}

a {
    text-decoration: underline;
    color: #7ea3d0;
}

a:visited {
    text-decoration: none;
    color: #7ea3d0;
}

/* Scrollbar Styling */

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: linear-gradient(to bottom, #d7d9df, #7ea3d0);
}

::-webkit-scrollbar-thumb {
    background: white;
}

/* Header */

.header-image{
    width: 100%;
    height: 80vh;
    background-image: url(../images/wirligigs_cropped.png);
    background-repeat: round;
}

.menu-bar {
    /* background-color: #c1c9d969; */
    background-blend-mode: difference;
    height: 80px;
    /* border-bottom: rgba(128, 128, 128, 0.473) 1px solid;*/
    padding: 0 150px 0 150px; 
    max-width: 1600px;
}

.menu-icon{
    height: 75px;
    width: 75px;
    background-image: url(../images/logo.png);
    float: left;
    border-radius: 100%;
    border: rgba(169, 169, 169, 0.432) 2px outset;
}

.menu-item {
    height: 80px;
    float: right;
    text-align: center;
    margin: 0 10px;
    line-height: 80px;
    font-size: xx-large;
    color: white;
    font-weight: bold;
}

/* Dropdown Menu */

.dropdown_button {
    color: white;
    text-decoration: none;
}

.dropdown_button:visited {
    text-decoration: none;
    color: white;
}

.dropdown_items {
    display: none;
    background-color: white;
    -webkit-box-shadow: 0px 10px 13px 1px rgba(0,0,0,0.6); 
    box-shadow: 0px 10px 13px 1px rgba(0,0,0,0.6);
    border-width: 0 1px 1px 1px;
    border-color: rgba(128, 128, 128, 0.473);
    border-style: solid;
    text-align: center;
    position: absolute;
    width: 250px;
    z-index: 1;
}

.dropdown_item {
    color: white;
    font-size: large;
    text-decoration: none;
    height: 50px;
    margin: 0;
    line-height: 50px;
}

.dropdown_item a {
    color: #7ea3d0;
}

.show {
    display: block;
}

/* Body */

.header-image-overlay {
    height: 900px;
    text-align: center;
    margin-top: 50px;
}

#name-logo {
    width: 50%;
}

.subtext-container {
    width: 50%;
    align-content: center;
}

.logo-subtext {
    position: absolute;
    color: transparent;
    width: 30%;
    font-size: 5vw;
    margin: 0;
}

.about {
    padding: 50px 0;
    height: auto;
    /* background: linear-gradient(to bottom, #d7d9df, #7ea3d0); */
}

.about-container {
    height: auto;
    width: 70%;
    margin-left: 15%;
    margin-top: 50px;
    padding: 10px 0;
    background-color: #e7e7f2;
    text-align: center;
}

.headshot-image {
    height: 300px;
    /* width: 300px; */
    border-radius: 100%;
}

.bio-text-container {
    width: 60%;
    padding-left: 20%;
}

.about-section {
    width: 90%;
    margin-left: 5%;
    padding-top: 10px;
    text-align: center;
    overflow: auto;
}

.icon-content {
    height: 100px;
    width: 90%;
    margin: 40px 5%;
}

.my-photo {
    height: 300px;
    border-radius: 50px;
    box-shadow: 0 0 10px 2px lightslategrey;
}

.content-section {
    padding-left: 10%;
    width: 80%;
    text-align: left;
    height: auto;
    margin: 50px;
    box-sizing: border-box;
}

.v-center {
    padding-top: 10%;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.left-margin {
    margin-left: 50px;
}

.right-margin {
    margin-right: 50px;
}

.small-icon {
    width: 100px;
}

.bio-text {
    font-size: 20px;
    line-height: 35px;
    color: rgb(92, 88, 88);
}

#disclaimer {
    font-size: 15px;
    line-height: 20px;
}

.footer {
    /* background-color: #c1c9d9; */
    background-color: #0a2458;
    float: left;
    width: 30%;
    margin: 25px 0 25px 35%;
    /* height: 100px; */
    color: white;
    
}

.footer-content {
    width: 60%;
    margin-left: 20%;
    padding: 1% 0;
    text-align: center;
}

.link-list {
    padding: 0;
}

.link-list li {
    display: inline;
    margin: 0 20px;
    font-size: xx-large;
    text-align: center;
    color: white;
}

.link-list li a {
    color: white;
}

/* Animations */
@keyframes TEXT-SLIDE-IN {
    0% {
        left: 20%;
        color: transparent;
    }

    10%{
        color: transparent;
        left: 30%;
    }

    20%{
        left: 35%;
        color: rgb(255, 255, 255);
    }

    33% {
        left: 35%;
        color: rgb(255, 255, 255)
    }

    50% {
        color: transparent;
    }

    75% {
        color: transparent;
    }

    100% {
        color: transparent;
    }
}

#creator {
    animation-name: TEXT-SLIDE-IN;
    animation-duration: 30s; /* or: Xms */
    animation-iteration-count: infinite;
    animation-direction: normal; /* or: normal */
    animation-timing-function: ease-out; /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
    animation-fill-mode: forwards; /* or: backwards, both, none */
    animation-delay: 0s; /* or: Xms */
}

#developer {
    animation-name: TEXT-SLIDE-IN;
    animation-duration: 30s; /* or: Xms */
    animation-iteration-count: infinite;
    animation-direction: normal; /* or: normal */
    animation-timing-function: ease-out; /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
    animation-fill-mode: forwards; /* or: backwards, both, none */
    animation-delay: 10s; /* or: Xms */
}

#engineer {
    animation-name: TEXT-SLIDE-IN;
    animation-duration: 30s; /* or: Xms */
    animation-iteration-count: infinite;
    animation-direction: normal; /* or: normal */
    animation-timing-function: ease-out; /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
    animation-fill-mode: forwards; /* or: backwards, both, none */
    animation-delay: 20s; /* or: Xms */
}

/* Responsiveness */

@media only screen and (max-width: 800px) {

    .header-image{
        width: 100%;
        height: 50vh;
        border-bottom: rgb(255, 255, 255) 1px solid;
    }

    .menu-icon {
        display: none;
    }

    .menu-bar {
        padding: 0;
        display: inline-block;
        width: 100vw;
        height: 50px;
        background-color: #7ea3d0;
    }

    .menu-item {
        height: 50px;
        width: 33.33vw;
        margin: 0;
        box-sizing: border-box;
        text-align: center;
        line-height: 50px;
        font-size: large;
    }

    .dropdown_items {
        position: absolute;
        width: 100%;
        left: 0;
        background-color: #7ea3d0;
    }

    .dropdown_items a {
        color: white;
    }

    .bio-text-container {
        width: 100%;
        padding: 0;
    }

    .about-container {
        height: auto;
        width: 100%;
        background-color: white;
        text-align: center;
        padding: 0;
        margin: 0;
        box-shadow: none;
    }

    .content-section {
        padding: 0;
        width: 100%;
        text-align: center;
        height: auto;
        margin: 50px 0;
        box-sizing: border-box;
    }

    .my-photo {
        margin: 0;
        float: none;
    }

    .link-list {
        padding: 0;
    }

    .link-list li {
        margin: 10px;
        display: inline;
        list-style-type: none;
    }
}